In [68]:
name, age, designation = "tom", 25, "Lead Developer"

print(name)
print(age)
print(designation)

tom
25
Lead Developer

In [2]:
x, y = 10, 20   

print(x, y)   

x, y = y, x
print(x, y)

10 20
20 10

In [3]:
import math

print(math.sqrt(441))  #square root

print(math.pi)

print(math.e)

21.0
3.141592653589793
2.718281828459045

In [4]:
name = input("Enter your name: \n")

print(name)

print(type(name))

Enter your name:
 virat

virat
<class 'str'>

In [5]:
print(type(5))   # an integer

print(type(3.4))  # a float

print(type(5j))  # a complex number

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
print(pow(3, 3))           # calculate 3^3

print(pow(0.35, 2))        # calculate 0.35^2

print(pow(9, -2))          # calculate 9^-2

27
0.12249999999999998
0.012345679012345678

In [1]:
print(round(32.3))      # round 32.3 to the nearest integer

print(round(99.7))      # round 99.7 to the nearest integer

print(round(-5.23))      # round -5.23 to the nearest integer

print(round(3.14159, 2))   # round 3.14159 to 2 decimal places

print(round(2.71828, 3))   # round 2.71828 to 3 decimal places

32
100
-5
3.14
2.718

In [2]:
print(max(1, 4, 100))     # Find the largest among 1, 4 and 100

print(max(-21, 4.5, 91.12))   # Find the largest among -21, 4.5 and 91.12

print(max(-67, -17, 0))    # Find the largest among -67, 417 and 0

print(min(0, -1.23e10, -9921))  # Find the smallest among 0, -1.23e10 and -9921

print(min(92, 6, -102))     # Find the largest among 92, 6, -102

100
91.12
0
-12300000000.0
-102

In [3]:
import math

print(math.pi)
print(math.e)

print(math.ceil(3.5))   # find the smallest integer greater than or equal to 3.5
print(math.floor(3.5))  # find the largest integer smaller than or equal to 3.5

print(math.fabs(2))     # absolute value of 2 in float
print(math.fabs(-53.3)) # absolute value of -53.3

3.141592653589793
2.718281828459045
4
3
2.0
53.3

In [5]:
#   Program to calculate the Simple Interest
#
#   The formula for Simple Interest is
#   si = p * r * t
#   where si is the simple interest
#   p is principal
#   r is interest rate
#   t is number of years

p = 18819.99    # principal
r = 0.05        # rate of interest
t = 2           # years

si = p * r * t
print("Simple interest at the end of 2 years $", si)

Simple interest at the end of 2 years $ 1881.9990000000003

In [6]:
#   Program to calculate the Simple Interest
#
#   The formula for Simple Interest is
#   si = p * r * t
#   where si is the simple interest
#   p is principal
#   r is interest rate
#   t is number of years

p = 18819.99    # principal
r = 0.05        # rate of interest
t = 2           # years

si = p * r * t
print("Simple interest at the end of 2 years $", format(si, "0.2f"))

Simple interest at the end of 2 years $ 1882.00

In [7]:
print(format(34.712, "9.2f"))

    34.71

In [8]:
import math

print(format(math.pi, ".2f"))

3.14

In [9]:
print(format(5482.52291, "10.2E"))

print(format(5482.52291, "5.2e"))

print(format(00000.212354, ".3E"))

  5.48E+03
5.48e+03
2.124E-01

In [10]:
print(format(98813343817.7129, "5,.2f"))

print(format(98813343817.7129, ",.2f"))

print(format(98813343817.7129, ",f"))

98,813,343,817.71
98,813,343,817.71
98,813,343,817.712906

In [11]:
print(format(0.71981, "%"))

print(format(0.71981, "10.2%"))

print(format(52, "%"))

print(format(95, ".2%"))

71.981000%
    71.98%
5200.000000%
9500.00%

In [12]:
import math

print(format(math.pi, "10.2f"))

print(format(math.pi, "<10.2f"))  # output the value left justfied

      3.14
3.14

In [13]:
print(format(95, "5d"))

print(format(4, "b"))   # prints the binary equivalent of decimal 4

print(format(255, "x"))   # prints the hexadecimal equivalent of decimal 255

print(format(9, "o"))   # prints the octal equivalent of decimal 9

print(format(100, "<10d"))  # Left align the number within specified width

   95
100
ff
11
100

In [14]:
print(6/3)

print(3.14/45)

print(45/2.5)

print(-5/2)

2.0
0.06977777777777779
18.0
-2.5

In [15]:
print(6//3)

print(100//6)

print(-5//2)

print(-5/2)

2
16
-3
-2.5

In [1]:
print(21**2)

print(5**2.2)

441
34.493241536530384

In [2]:
print(5%2)  #remainder

1

In [3]:
print(5 + 12 / 2 * 4)

29.0

In [4]:
print(10 * 3 + (10 % 2) ** 1)

30

In [5]:
print(45 % 2 - 5 / 2 + ( 9 * 3 - 1 ))

24.5

In [6]:
x = 5

x += 5
print(x)  

x -= 3
print(x)

x *= 4
print(x)

x /= 2

10
7
28

In [7]:
print(45 * 3)   # result is int because both operands are int

print(3.4 * 5.3)    # result is float because both operands are float

print(88 * 4.3)     # result is float because one operand is float

135
18.02
378.4

In [8]:
## int() function

print(int(2.7))   # convert 2.7 to int

print(int("30"))  # convert "30" to int

print(int(44.55))

print(round(44.55))


## float() function

2
30
44
45

In [9]:
result = 1111100 + 45 - (88 / 43) + 783 \
         + 10 - 33 * 1000 + \
         88 + 3772

print(result)

print("first line\
 second line\
 third line")

1082795.953488372
first line second line third line

In [10]:
var1 = True
var2 = False

print(type(var1))  # type of var1 is bool

print(type(var2))  # type of var2 is bool

print(type(True))	# type of True keyword is bool

print(type(False))  # type of False keyword is bool

print(var1)

print(var2)

## Python uses 1 and 0 to represent True and False respectively

print(int(True))   # convert keyword True to int

print(int(False))   # convert keyword False to int

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
True
False
1
0

In [11]:
print(bool(""))    # an empty string is falsy value

print(bool(12))    # int 12 is a truthy value

print(bool(0))     # int 0 is falsy a value

print(bool([]))    # an empty list is a falsy value

print(bool(()))    # an empty tuple is a falsy value

print(bool(0.2))   # float 0.2 is truthy a value

print(bool("boolean"))   # string "boolean" is a truthy value

False
True
False
False
False
True
True

In [12]:
print(3 < 4)        #  Is 3 is smaller than 4 ? Yes

print(90 > 450)     # Is 90 is greater than 450 ? No

print(10 <= 11)     # Is 10 is smaller than or equal to 11 ? Yes

print(31 >= 40)     # Is 31 is greater than or equal to 40 ? No

print(100 != 101)     # Is 100 is not equal to 101 ?  Yes

print(50 == 50)       # Is 50 is equal to 50 ? Yes

True
False
True
False
True
True

In [14]:
print((10>3) and (15>6))  # both conditions are true so, the result is true

print((1>5) and (43==6))  # both conditions are false so, the result is false

print((1==1) and (2!=2))  # one condition is false(right operand) so, the result is false

True
False
False

In [15]:
print((100<200) or (55<6))

print((11>55) or (6==6))

print((1>12) or (2==3))

print((10<22) or (20>3))

################

print((100>20) or (90<30))

True
True
False
True
True

In [16]:
print(not (200==200))

print(not (10<=5))

False
True

In [17]:
s1 = 'String in single quotes'
s2 = "String in double quotes"
s3 = 'hello everyone'
s4 = "hello everyone"

print(s1)
print(s2)
print(s3)
print(s4)

String in single quotes
String in double quotes
hello everyone
hello everyone

In [18]:
achar = 'a'    # string containing a single character
print(type(achar))

print(type("a string"))     # string containing multiple characters

<class 'str'>
<class 'str'>

In [19]:
print(len("a string"))

s = "a long string"
print(len(s))

print(len(""))

8
13
0

In [20]:
s1 = ''   # empty string using single quotes
s2 = ""   # empty string using double quotes

print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [23]:
print("I'm learning python")

# print('I'm learning python')   # Error

print('John says "Hello there !"')

I'm learning python
John says "Hello there !"

In [24]:
s = "Name\tAge\tMarks"    # gives tab space \t
print(s)

Name	Age	Marks

In [25]:
s2 = 'One\nTwo\nThree'    # gives next line \n
print(s2)

One
Two
Three

In [26]:
print('I\'m learning python')

print("John says \"Hello there !\"")

I'm learning python
John says "Hello there !"

In [27]:
s3 = 'C:\\Users\\Q'
print(s3)

C:\Users\Q

In [28]:
s1 = "This is " + "one complete string"
print(s1)

s2 = "One " + "really really " + "long string"
print(s2)

This is one complete string
One really really long string

In [31]:
# s = "Python" + 101     #will give error 
# print(s)

s = "Python" + str(101)
print(s)

Python101

In [32]:
s = "www " * 5  # repeat "www " 5 times
print(s)

print("We have got some", "spam" * 5)

www www www www www
We have got some spamspamspamspamspam

In [34]:
# print("www" * "e")   # n is a string   # will give error

# print("www" * 1.5)   # n is a float    # will give error

In [35]:
s1 = "object oriented"

print("ted" in s1)    # Does "ted" exists in s1 ?

print("eject" in s1)   # Does "eject" exists in s1 ?

print("orion" not in s1)   # Doesn't "orion" exists in s1 ?

print("en" not in s1)   # Doesn't "en" exists in s1 ?

True
False
True
False

In [36]:
s1 = "hello"

print(s1[0])    # get the first character

print(s1[1])    # get the second character

print(s1[2])    # get the third character

print(s1[3])    # get the fourth character

print(s1[4])    # get the fifth character

h
e
l
l
o

In [37]:
quote = "The best is the enemy of the good"

print(quote[len(quote)-1])

d

In [38]:
s = "markdown"

print(s[-1])        # get the last character

print(s[-2])        # get the second last character

print(s[-8])        # get the first character

print(s[-len(s)])   # get the first character

n
w
m
m

In [39]:
s = "markdown"

print(s[0:3])  # get a slice of string starting from index 0 to 3,
			   # not including the character at index 3

print(s[2:5])  # get a slice of string starting from index 2 to 5, 
               # not including the character at index 5

mar
rkd

In [42]:
s = "markdown"

print(s[2:len(s)+200])

rkdown

In [43]:
s = "markdown"

print(s[:4])  # start slicing from the beginning

mark

In [44]:
s = "markdown"

print(s[5:])

own

In [47]:
s = "markdown"

print(s[:])

print(s[1:-1])

markdown
arkdow

In [46]:
s1 = "A String"
s2 = s1.lower()
print(s2)

s3 = s1.upper()
print(s3)

a string
A STRING

In [48]:
s1 = "A String"

print(s1)
print(id(s1))

A String
2521179655088

In [49]:
print(ord("a"))  # print the ASCII value of character a

print(ord("5"))  # print the ASCII value of character 5

97
53

In [2]:
print(chr(97))   # print the character represented by ASCII value 97

print(chr(53))   # print the character represented by ASCII value 53

print("first line")
print("second line")

a
5
first line
second line

In [3]:
print("first string", end="$")
print("second string", end="$")

first string$second string$

In [4]:
print("first", end="")
print("second", end="")
print("third")

firstsecondthird

In [5]:
print("first", "second", "third")

first second third

In [6]:
print("first", "second", "third", sep="#")

first#second#third

In [8]:
print("linker" > "linquish")
print("qwerty" > "abc")

False
True

In [9]:
print("ab" > "abc")

False

In [10]:
print("tree" == "tree")

print("pass" != "password")

print("@@@" <= "123")

print("" <= "123")

True
True
False
True

In [11]:
s = "hello"
print(id(s))

s += " world"
print(s)

print(id(s))

2360517520624
hello world
2360522235568

In [12]:
print(format("Python", "10s"))

Python

In [13]:
print(format("Python", "4s"))

Python

In [14]:
print(format("Python", ">10s"))

    Python

In [15]:
s = "A bite of python"

print(s.isalnum())

print("123".isalnum())

print("abc".isalnum())

False
True
True

In [21]:
# Method	Description
# str.isalnum()	returns True if all the characters in the string is alphanumeric (a string which contains either number or alphabets or both). Otherwise False.
# str.isalpha()	returns True if all the characters in the string are alphabets. Otherwise False.
# str.isdigit()	returns True if all the characters in the string are digits. Otherwise False.
# str.islower()	returns True if all the characters in the string are in lowercase. Otherwise False.
# str.isupper()	returns True if all the characters in the string are in uppercase. Otherwise False.
# str.isspace()	returns True if all the characters in the string are whitespace characters. Otherwise False.

In [16]:
print("123".isalpha())

print("zyz".isalpha())

print("$$$$".isalpha())

print("abc233".isalpha())

False
True
False
False

In [22]:
print("name101".isdigit())

print("101".isdigit())

print("101 ".isdigit())

print("101.129".isdigit())

False
True
False
False

In [23]:
s = 'A bite of python'

print(s.islower())

print("abc".islower())

print(s.isupper())

print("ABC".isupper())

False
True
False
True

In [24]:
print("\n\t".isspace())

print(" \n\t".isspace())

print("@ \n\t".isspace())

print("123".isspace())

True
True
False
False

In [25]:
# Method	 Description
# endswith(sub)	    Returns True if string ends with substring sub. Otherwise False.
# startswith(sub)	Returns True if string starts with substring sub. Otherwise False.
# find(sub)	        Returns the lowest index of the string where substring sub is found. If substring sub is not found -1 is returned.
# rfind(sub)	    Returns the highest index of the string where substring sub is found. If substring sub is not found -1 is returned.
# count(sub)	    It returns the number of occurrences of substring sub found in the string. If no occurrences found 0 is returned.
# replace(old, new)	It returns a new string after replacing old substring with new. Notice that it does not change the object on which it is called.

In [26]:
s = "abc"

print(s.endswith("bc"))

print("python".startswith("py"))

print("Learning Python".find("n"))

print("Learning Python".rfind("n"))

True
True
4
14

In [27]:
s1 = "Learning C"  # old string
print(id(s1))

s2 = s.replace("C", "Python")   # replace() creates a new string and assigns it to s2
print(s2)

print(id(s1))

2360522317552
abc
2360522317552

In [28]:
# Method	Description
# lower()	    Returns a new copy of the string after converting all of it's characters to lowercase.
# upper()	    Returns a new copy of the string after converting all of it's characters to uppercase.
# capitalize()	Returns a new copy of the string after capitalizing only the first letter in the string.
# title()	    Returns a new copy of the string after capitalizing the first letter in each word.
# swapcase()	Returns a new copy after converting lowercase letters to uppercase and vice-versa.
# strip()	    Returns a new copy of the string after removing all the leading and trailing whitespace characters.
# strip(chars)	Returns a new copy of the string after removing chars from the beginning and end of the string.

# -> Always remember these methods return a new string and do not modify the object upon which they are called in any way.

In [29]:
print("abcDEF".lower())

print("abc".lower())

abcdef
abc

In [30]:
print("ABCdef".upper())

print("ABC".upper())

ABCDEF
ABC

In [31]:
print("a long string".capitalize())

print("a long string".title())

A long string
A Long String

In [32]:
print("ABCdef".swapcase())

print("def".swapcase())

abcDEF
DEF

In [33]:
s1 = "\n\tName\tAge"
print(s1)

s2 = s1.strip()
print(s2)

s3  = "--Name\tAge--"
print(s3.strip("-"))     # return a new copy of string after removing 
			 # the dash(-) character from beginning and end of the string

	Name	Age
Name	Age
Name	Age

In [34]:
# Method	Description
# center(width) 	Returns a new copy of the string after centering it in a field of length width.
# ljust(width)  	Returns a new copy of the string justified to left in field of length width.
# rjust(width)	    Returns a new copy of the string justified to right in field of length width.

In [35]:
print("NAME".center(20))

        NAME

In [36]:
print("NAME".ljust(10))

print("NAME".ljust(4))

print("NAME".ljust(5))

NAME
NAME
NAME

In [38]:
print("NAME".rjust(10))

print("NAME".rjust(4))

print("NAME".rjust(5))

      NAME
NAME
 NAME

In [39]:
number = int(input("Enter a number: \n"))

if number > 10:
    print("Number is greater than 10")

Enter a number:
 27

Number is greater than 10

In [42]:
number = int(input("Enter a number: \n"))
if number > 10:
    print("statement 1")
    print("statement 2")
    print("statement 3")
print("Executes every time you run the program")
print("Program ends here")

Enter a number:
 27

statement 1
statement 2
statement 3
Executes every time you run the program
Program ends here

In [45]:
radius = int(input("Enter radius: \n"))
if radius >= 0:
    print("Circumference = ", 2 * 3.14 * radius)
    print("Area = ", 3.14 * radius ** 2 )
else:
    print("Please enter a positive number")

Enter radius:
 8

Circumference =  50.24
Area =  200.96

In [48]:
password = input("Enter a password: \n")
if password == "sshh":
    print("Welcome to the Secret World")
else:
    print("You are not allowed here")

Enter a password:
 sshh

Welcome to the Secret World

In [49]:
gre_score = int(input("Enter your GRE score: \n"))
per_grad = int(input("Enter percent secured in graduation: \n"))

if per_grad > 70:
    # outer if block
    if gre_score > 150:
        # inner if block
        print("Congratulations you are eligible for loan")
else:
    print("Sorry, you are not eligible for loan")

Enter your GRE score:
 180
Enter percent secured in graduation:
 190

Congratulations you are eligible for loan

In [50]:
gre_score = int(input("Enter your GRE score: \n"))
per_grad = int(input("Enter percent secured in graduation: \n"))

if per_grad > 70:
    if gre_score > 150:
        print("Congratulations you are eligible for loan.")
    else:
        print("Your GRE score is no good enough. You should retake the exam.")

Enter your GRE score:
 180
Enter percent secured in graduation:
 190

Congratulations you are eligible for loan.

In [51]:
score = int(input("Enter your marks: \n"))

if score >= 90:
    print("Excellent ! Your grade is A")
else:
    if score >= 80:
        print("Great ! Your grade is B")
    else:
        if score >= 70:
            print("Good ! Your grade is C")
        else:
            if score >= 60:
                print("Your grade is D. You should work hard on you subjects.")
            else:
                print("You failed in the exam")

Enter your marks:
 100

Excellent ! Your grade is A

In [1]:
score = int(input("Enter your marks: \n"))

if score >= 90:
    print("Excellent! Your grade is A")
elif score >= 80:
    print("Great! Your grade is B")
elif score >= 70:
    print("Good! Your grade is C")
elif score >= 60:
    print("Your grade is D. You should work hard on you studies.")
else:
    print("You failed in the exam")

Enter your marks:
 90

Excellent! Your grade is A

In [2]:
i = 1
while i <= 100:
    print("Today is Sunday")
    i += 1

Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday
Today is Sunday

In [3]:
i = 1
sum = 0
while i < 11:
    sum += i    # same as sum = sum + i
    i += 1  

print("sum is", sum)   # print the sum

sum is 55

In [4]:
i = 1
sum = 0
while i < 11:
    sum += i    # same as sum = sum + i
    i += 1  

print("sum is", sum)   # print the sum

sum is 55

In [5]:
for i in [11, 44, 77, 33, 199]:
	print(i)

11
44
77
33
199

In [6]:
for i in "astro":
	print(i)

a
s
t
r
o

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in [0, 1, 2, 3, 4]:
	print(i)

0
1
2
3
4

In [9]:
for i in range(10, 20):
	print(i)

10
11
12
13
14
15
16
17
18
19

In [10]:
for i in range(10, 20, 3):  # step value is 3
	print(i)

10
13
16
19

In [11]:
for i in range(50, 0, -5):
	print(i)

50
45
40
35
30
25
20
15
10
5

In [12]:
print("Number\t | Square")
print("--------------------")

for num in range(1, 21):
    print(num, "\t\t | ", num*num)

Number	 | Square
--------------------
1 		 |  1
2 		 |  4
3 		 |  9
4 		 |  16
5 		 |  25
6 		 |  36
7 		 |  49
8 		 |  64
9 		 |  81
10 		 |  100
11 		 |  121
12 		 |  144
13 		 |  169
14 		 |  196
15 		 |  225
16 		 |  256
17 		 |  289
18 		 |  324
19 		 |  361
20 		 |  400

In [1]:
# break & continue statement in python

In [2]:
for i in range(1, 10):
    if i == 5:  # when i is 5 exit the loop
        break
    print("i =", i)

print("break out")

i = 1
i = 2
i = 3
i = 4
break out

In [3]:
num = int(input("Enter a number: \n"))

is_prime = True

for i in range(2, num):
    if num % i == 0:
        is_prime = False  # number is not prime
        break  # exit from for loop

if is_prime:
    print(num, "is prime")
else:
    print(num, "is not a prime")

Enter a number:
 5

5 is prime

In [4]:
for i in range(1, 5):    
    print("Outer loop i = ", i, end="\n\n")
    for j in range (65, 75):
        print("\tInner loop chr(j) =", chr(j))
        if chr(j) == 'C':
            print("\tbreaking out of inner for loop ...\n")
            break
    
    print('-------------------------------------------------')

Outer loop i =  1

	Inner loop chr(j) = A
	Inner loop chr(j) = B
	Inner loop chr(j) = C
	breaking out of inner for loop ...

-------------------------------------------------
Outer loop i =  2

	Inner loop chr(j) = A
	Inner loop chr(j) = B
	Inner loop chr(j) = C
	breaking out of inner for loop ...

-------------------------------------------------
Outer loop i =  3

	Inner loop chr(j) = A
	Inner loop chr(j) = B
	Inner loop chr(j) = C
	breaking out of inner for loop ...

-------------------------------------------------
Outer loop i =  4

	Inner loop chr(j) = A
	Inner loop chr(j) = B
	Inner loop chr(j) = C
	breaking out of inner for loop ...

-------------------------------------------------

In [5]:
for i in range(1, 10):
    if i % 2 != 0:
        continue
    print("i =", i)

i = 2
i = 4
i = 6
i = 8

In [2]:
# loops in python

In [1]:
numbers = [11, 99, 66, 22]
print(numbers)

[11, 99, 66, 22]

In [3]:
mixed = ["a string", 3.14, 199]  # list where elements are of different types

print(mixed)

['a string', 3.14, 199]

In [4]:
empty_list = []  # an empty list
print(empty_list)

[]

In [5]:
list1 = list()  # an empty list
list2 = list([3.2, 4, 0.12])  # again elements in a list can be of different types
list3 = list(["@@", "###", ""])   # you can use symbols too
list4 = list("1234")  # creating list from string

print(list1)
print(list2)
print(list3)
print(list4)

[]
[3.2, 4, 0.12]
['@@', '###', '']
['1', '2', '3', '4']

In [6]:
list5 = [
    [33, 55, 77],  # first element
    [99, 31, 64]   # second element
]

print(list5)

[[33, 55, 77], [99, 31, 64]]

In [7]:
list1 = list(range(5))

print(list1)

[0, 1, 2, 3, 4]

In [8]:
list2 = list(range(1, 101))  ## create a list of numbers from 1 to 100

print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [9]:
list3 = list(range(0, 100, 10))  # create a list of numbers from 0 to 100 
                                 # with step value of 10

print(list3)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [10]:
list1 = [1, 9, 4, 12, 82]

print(len(list1))  # find the length of the list

print(sum(list1))  # find the sum of the list

print(max(list1))  # find the greatest element in the list

print(min(list1))  # find the smallest element in the list

5
108
82
1

In [11]:
list1 = [88, 99, 4.12, 199, 993, 9999]

print(list1[0])  # get the first element

print(list1[1])  # get the second element

print(list1[5])  # get the sixth element

88
99
9999

In [12]:
list1 = [88, 99, 4.12, 199, 993, 9999]

print(len(list1) - 1)

print(list1[len(list1) - 1])  # get the last element

5
9999

In [13]:
list1 = [88, 99, 4.12, 199, 993, 9999]

print(list1[-1])   # get the last element

print(list1[-2])   # get the second last element

9999
993

In [14]:
list1 = [88, 99, 4.12, 199, 993, 9999]

print(list1[-len(list1)])  # get the first element

88

In [15]:
list1 = ["str", "list", "int", "float"]

print(id(list1))   # address where list1 is stored

list1[0] = "string"  # Update element at index 0

print(list1)   # list1 is changed now

print(id(list1))  # notice that the id is still same

2651814396800
['string', 'list', 'int', 'float']
2651814396800

In [16]:
marks = [122, 45, 23, 78, 65, 12]

for m in marks:
	print(m)

122
45
23
78
65
12

In [17]:
import random

marks = [122, 45, 23, 78, 65, 12]

for i in range(len(marks)):
	marks[i] = random.randint(1, 100)  # assign some random value between 1 to 100 to all elements

print(marks)

[20, 42, 68, 39, 44, 37]

In [18]:
marks = [122, 45, 23, 78, 65, 12]

i = 0
while i < len(marks):
	print(marks[i])
	i += 1

122
45
23
78
65
12

In [19]:
list1 = [11, 33, 55, 22, 44, 89]

print(list1[0:4])

print(list1[1:5])

print(list1[4:5])

[11, 33, 55, 22]
[33, 55, 22, 44]
[44]

In [20]:
list1 = [11, 33, 55, 22, 44, 89]

print(list1[:2])       # same as list1[0:2]

print(list1[2:])       # same as list1[2:len(list1)]

print(list1[:])        # same as list1[0:len(list1)]

[11, 33]
[55, 22, 44, 89]
[11, 33, 55, 22, 44, 89]

In [21]:
cards  = ["club", "diamond", "heart", "spades"]

print("club" in cards)

print("joker" in cards)

print("pikes" not in cards)

print("heart" not in cards)

True
False
True
False

In [22]:
list1 = [1,2,3]  # create list1
list2 = [11,22,33]  # create list2

print(id(list1))   # address of list1

print(id(list2))   # address of list2

list3 = list1 + list2   # concatenate list1 and list2 and create list3

print(list3)

print(id(list3))  # address of the new list list3

print(id(list1))   # address of list1 is still same

print(id(list2))   # address of list2 is still same

2651814403264
2651814402880
[1, 2, 3, 11, 22, 33]
2651813445504
2651814403264
2651814402880

In [23]:
list1 = [1,2,3]     # create list1
list2 = [11,22,33]  # create list2

print(id(list1))    # address of list1

print(id(list2))    # address of list2

list1 += list2      # append list2 to list1

print(list1)

print(id(list1))    # address is still same

2651814396800
2651814397376
[1, 2, 3, 11, 22, 33]
2651814396800

In [24]:
list1 = [1, 5]

list2 = list1 * 4  # replicate list1 4 times and assign the result to list2

print(list2)

[1, 5, 1, 5, 1, 5, 1, 5]

In [25]:
action = ["eat", "sleep", "repeat"]

print(id(action))   # address of action list

action *= 5

print(action)

print(id(action))   # address is still the same

2651814270400
['eat', 'sleep', 'repeat', 'eat', 'sleep', 'repeat', 'eat', 'sleep', 'repeat', 'eat', 'sleep', 'repeat', 'eat', 'sleep', 'repeat']
2651814270400

In [26]:
n1 = [1,2,3]
n2 = [1,2,10]

print(n1 > n2)

False

In [27]:
word_list1 = ["pow", "exp"]
word_list2 = ["power", "exponent"]

print(word_list1 < word_list2)

True

In [28]:
cube_list = [ i**3 for i in range(50, 101) ]

print(cube_list)

[125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [29]:
even_list = [ i for i in range(1, 10) if i % 2 == 0 ]

print(even_list)

[2, 4, 6, 8]

In [30]:
# Method       	      Description
# appends(item)	      adds an item to the end of the list.
# insert(index,item)	inserts an item at the specified index. If index specified is greater than the last valid index, item is added to the end of the list.
# index(item)	    returns the index of the first occurrence of specified item. If the specified item doesn't exists in the list, an exception is raised.
# remove(item)	    removes the first occurrence of the specified item from the list. If the specified item doesn't exists in the list, an exception is raised.
# count(item)	    returns the number of times an item appears in the list.
# clear()	        removes all the element from the list.
# sort()	        sorts the list in ascending order.
# reverse()      	reverse the order of elements in the list.
# extend(sequence)	appends the elements of the sequence to the end of the list.
# pop([index])    	removes the element at the specified index and returns that element. If index is not specified, it removes and returns last element from the list. When index is not valid, an exception is raised.

In [31]:
list1 = [1,2,3,4,5,6]

print(id(list1))

list1.append(10)   # append 10 to list1

print(list1)

print(id(list1))   # address remains unchanged

2651814413504
[1, 2, 3, 4, 5, 6, 10]
2651814413504

In [32]:
list1 = [1,2,3,4,5,6]

print(id(list1))

list1.insert(2, 1000)   # insert item 1000 at index 2

print(list1)            # now the last valid index is 6

list1.insert(6, 4000)   # insert the item 4000 at index 6

print(list1) 	 	# now the last valid index is 7

list1.insert(8, 8000)   # insert the item 8000 at index 8, which is beyond the last valid index

print(list1)

print(list1[8])

2651817404608
[1, 2, 1000, 3, 4, 5, 6]
[1, 2, 1000, 3, 4, 5, 4000, 6]
[1, 2, 1000, 3, 4, 5, 4000, 6, 8000]
8000

In [33]:
list1 = [1, 2, 3, 4, 5, 6, 1, 2, 3]

print(list1.count(2))    # count the appearance of element 2 in the list

print(list1.count(100))  # count the appearance of element 100 in the list

print(list1.count(1))  # count the appearance of element 1 in the list

2
0
2

In [34]:
list1 = [1, 2, 3, 4, 5, 6, 1, 2, 3]

print(id(list1))

list1.clear()   # clear all the elements in the list list1

print(list1)

print(id(list1))

2651813697792
[]
2651813697792

In [35]:
list1 = [12, -2, 3, 4, 100, 50]

list1.sort()   # sort the list in ascending order

print(list1)

types = ["str", "float", "int", "list"]  

types.sort()  # sort the list, strings are sorted based on the ASCII values

print(types)

[-2, 3, 4, 12, 50, 100]
['float', 'int', 'list', 'str']

In [36]:
list1 = [12, -2, 3, 4, 100, 50]

list1.sort()  # sort the list in ascending order

print(list1)

list1.reverse()  # sort the list in descending order

print(list1)

[-2, 3, 4, 12, 50, 100]
[100, 50, 12, 4, 3, -2]

In [38]:
list1 = [1, 2, 3]

print(id(list1))

list1.extend([100, 200, 300])   # append elements of list [100, 200, 300] to list1

print(list1)

print(id(list1))

list1.extend("str")  # We can pass strings too

print(list1)

print(id(list1))

2651817372160
[1, 2, 3, 100, 200, 300]
2651817372160
[1, 2, 3, 100, 200, 300, 's', 't', 'r']
2651817372160

In [40]:
# Functions in python

In [41]:
sum = 0
start = 10
end = 30
for i in range(start, end+1):
    sum += i    

print("Sum is", sum)

Sum is 420

In [42]:
import datetime

def greet():
    print("Hello !")
    print("Today is", datetime.datetime.now())

In [43]:
import datetime

def greet():
    print("Hello !")
    print("Today is", datetime.datetime.now())

greet()

Hello !
Today is 2024-06-09 23:12:10.848050

In [44]:
import datetime

greet() ## ERROR: trying to call greet() before its defined

def greet():
    print("Hello !")
    print("Today is", datetime.datetime.now())

Hello !
Today is 2024-06-09 23:12:23.895709

In [45]:
import datetime

def greet():
    print("Hello !")
    print("Today is", datetime.datetime.now())

print("Before calling greet()")
greet()
print("After calling greet()")

Before calling greet()
Hello !
Today is 2024-06-09 23:12:57.202155
After calling greet()

In [46]:
import datetime

def greet(name):
    print("Hello", name, "!")
    print("Today is", datetime.datetime.now())


def main():
    print("main() function called")
    greet("Jon")
    print("main() function finished")

main()

main() function called
Hello Jon !
Today is 2024-06-09 23:13:30.020910
main() function finished

In [47]:
global_var = 200  # a global variable

def func():

    # local_var is a local variable
    # and is only available inside func() 
    local_var = 100

    print("Inside func() - local_var =", local_var)

    # accessing a global variable inside a function
    print("Inside func() - global_var =", global_var)


func()

Inside func() - local_var = 100
Inside func() - global_var = 200

In [48]:
num = "global"  # global num variable

def func():
    num = "local"   # local num variable is entirely different from global num variable
    print(num)

func()
print(num)

local
global

In [49]:
def func_1():
    x = 100  # this x is only visible inside func_1()
    print("func_1(): x =", x)
    x = 200
    print("func_1(): x =", x)
	

def func_2():
    x = "str" # this x is only visible inside func_2() and it entirely different from func1()'s variable x
    print("func_2(): x =", x)
    x = "complex"
    print("func_2(): x =", x)

# x is not visible in here

func_1()
func_2()

func_1(): x = 100
func_1(): x = 200
func_2(): x = str
func_2(): x = complex

In [50]:
def add_100(num):  # num is a parameter
    print("Result =", num+100)


x = 100
add_100(x)

Result = 200

In [51]:
def factorial(n):
    f = 1
    for i in range(n, 0, -1):
        f *= n
        n -= 1

    print(f)

num = input("Enter a number: ")

Enter a number:  8

In [52]:
def calc(num1, num2):
    print("Sum =", num1 + num2)
    print("Difference =", num1 - num2)
    print("Multiplication =", num1 * num2)
    print("Division =", num1 / num2)
    print()  # prints a blank line

calc(10, 20)

Sum = 30
Difference = -10
Multiplication = 200
Division = 0.5

In [53]:
def func(para1):
    print("Address of para1:", id(para1))
    print(para1)

arg1 = 100
print("Address of arg1:", id(arg1))
func(arg1)

Address of arg1: 140716896604040
Address of para1: 140716896604040
100

In [54]:
def func(para1):
    para1 += 100  # increment para1 by 100
    print("Inside function call, para1 =", para1)

arg1 = 100
print("Before function call, arg1 =", arg1)
func(arg1)
print("After function call, arg1 =", arg1)

Before function call, arg1 = 100
Inside function call, para1 = 200
After function call, arg1 = 100

In [55]:
def func(para1):
    para1.append(4)
    print("Inside function call, para1 =", para1)

arg1 = [1,2,3]
print("Before function call, arg1 =", arg1)
func(arg1)
print("After function call, arg1 =", arg1)

Before function call, arg1 = [1, 2, 3]
Inside function call, para1 = [1, 2, 3, 4]
After function call, arg1 = [1, 2, 3, 4]

In [56]:
def is_pythagorean_triplet(base, height, perpendicular):
    if base ** 2 + height ** 2 ==  perpendicular ** 2:
        print("Numbers passed are Pythagorean Triplets")
    else:
        print("Numbers passed are not Pythagorean Triplets")


is_pythagorean_triplet(3, 4, 5)
is_pythagorean_triplet(3, 5, 3)  # Wrong order of arguments

Numbers passed are Pythagorean Triplets
Numbers passed are not Pythagorean Triplets

In [57]:
def is_pythagorean_triplet(base, height, perpendicular):
    if base ** 2 + height ** 2 ==  perpendicular ** 2:
        print("Numbers passed are Pythagorean Triplets")
    else:
        print("Numbers passed are not Pythagorean Triplets")


is_pythagorean_triplet(base=3, height=4, perpendicular=5)
is_pythagorean_triplet(base=3, perpendicular=5, height=4)
is_pythagorean_triplet(perpendicular=5, height=4, base=3)

Numbers passed are Pythagorean Triplets
Numbers passed are Pythagorean Triplets
Numbers passed are Pythagorean Triplets

In [58]:
def is_pythagorean_triplet(base, height, perpendicular):
    if base ** 2 + height ** 2 ==  perpendicular ** 2:
        print("Numbers passed are Pythagorean Triplets")
    else:
        print("Numbers passed are not Pythagorean Triplets")


is_pythagorean_triplet(3, 4, perpendicular=5)
is_pythagorean_triplet(3, perpendicular=5, height=4)
# is_pythagorean_triplet(3, height=4, 5)  # Not valid

Numbers passed are Pythagorean Triplets
Numbers passed are Pythagorean Triplets

In [59]:
def is_pythagorean_triplet(base, height, perpendicular):
    if base ** 2 + height ** 2 ==  perpendicular ** 2:
        print("Numbers passed are Pythagorean Triplets")
    else:
        print("Numbers passed are not Pythagorean Triplets")
		

is_pythagorean_triplet(3, 4, perpendicular=5)
is_pythagorean_triplet(3, perpendicular=5, height=4)
# is_pythagorean_triplet(3, height=4, 5)  # Not valid

Numbers passed are Pythagorean Triplets
Numbers passed are Pythagorean Triplets

In [60]:
def add(num1, num2):
    return num1 + num2

result = add(12, 10)
print(result)

22

In [61]:
def factorial(n):
    f = 1
    for i in range(n, 0, -1):
        f *= n
        n -= 1

    return f

print("Factorial of 4 is", factorial(4))
print("Factorial of 4 is", factorial(6))

Factorial of 4 is 24
Factorial of 4 is 720

In [62]:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

num = int(input("Enter a number: \n"))

if is_even(num):
    print(num, "is even")
else:
    print(num, "is odd")

Enter a number:
 8

8 is even

In [63]:
def foo():
    return

result = foo()
print(result)

None

In [65]:
def calculate_grade(marks):
    if marks >= 90:
        return 'A'
    elif marks >= 80:
        return 'B'
    elif marks >= 70:
        return 'C'
    elif marks >= 60:
        return 'D'
    else:
        return 'F'


m = int(input("Enter your marks: \n"))
print("Your grade is", calculate_grade(m))

Enter your marks:
 98

Your grade is A

In [66]:
def add(num1, num2):
    print("Sum is", num1 + num2)

return_val = add(100, 200)
print(return_val)

Sum is 300
None

In [68]:
def sort_two_num(num1, num2):
    if num1 < num2:
        return num1, num2
    else:
        return num2, num1


number1, number2 = sort_two_num(100, 15)
print("number1 is", number1)
print("number2 is", number2)

number1 is 15
number2 is 100

In [2]:
def calc_area(length=2, width=3):
    print("length=", length,  ", width = ", width)
    print("Area of rectangle is", width * length)
    print()


calc_area()
calc_area(4, 6)
calc_area(width=100, length=23)
calc_area(length=12)

length= 2 , width =  3
Area of rectangle is 6

length= 4 , width =  6
Area of rectangle is 24

length= 23 , width =  100
Area of rectangle is 2300

length= 12 , width =  3
Area of rectangle is 36

In [3]:
# Objects and classes in python

In [4]:
import math

class Circle:

    def __init__(self, radius):
        self.radius = radius
		
    def get_area(self):
        return math.pi * self.radius ** 2  

    def get_perimeter(self):
        return 2 * math.pi * self.radiu

In [6]:
import math

class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius ** 2  

    def get_perimeter(self):
        return 2 * math.pi * self.radius
	

my_circle = Circle(5)

print("Circle of radius is",my_circle.radius)
print("Area of circle:", format(my_circle.get_area(), ".2f"))
print("Area of perimeter of circle:", format(my_circle.get_perimeter(), ".2f"), end="\n\n")

Circle of radius is 5
Area of circle: 78.54
Area of perimeter of circle: 31.42

In [8]:
import math

class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius ** 2  

    def get_perimeter(self):
        return 2 * math.pi * self.radius


my_circle1 = Circle(5)
my_circle2 = Circle(10)
my_circle3 = Circle(15)

print("Address of Circle objects")
print("my_circle1:", id(my_circle1))  # print the address of Circle object referenced by variable my_circle1
print("my_circle2:", id(my_circle2))  # print the address of Circle object referenced by variable my_circle2
print("my_circle3:", id(my_circle3))  # print the address of Circle object referenced by variable my_circle3
print()

print("Address of radius attribute")
print("my_circle1:", id(my_circle1.radius)) # print the address of my_circle1's radius attribute
print("my_circle2:", id(my_circle2.radius)) # print the address of my_circle2's radius attribute
print("my_circle3:", id(my_circle3.radius), end="\n\n")  # print the address of my_circle3's radius attribute

print("Initial value of radius attribute: ")
print("my_circle1's radius:", my_circle1.radius)
print("my_circle2's radius:", my_circle2.radius)
print("my_circle3's radius:", my_circle3.radius, end="\n\n")

# changing radius attribute of circle objects
my_circle1.radius = 50
my_circle2.radius = 100
my_circle3.radius = 150

print("After changing radius attribute of circle objects", end="\n\n")

print("Final value of radius attribute: ")
print("my_circle1's radius:", my_circle1.radius)
print("my_circle2's radius:", my_circle2.radius)
print("my_circle3's radius:", my_circle3.radius)

Address of Circle objects
my_circle1: 1299443005840
my_circle2: 1299449293712
my_circle3: 1299457294160

Address of radius attribute
my_circle1: 140715215078312
my_circle2: 140715215078472
my_circle3: 140715215078632

Initial value of radius attribute:
my_circle1's radius: 5
my_circle2's radius: 10
my_circle3's radius: 15

After changing radius attribute of circle objects

Final value of radius attribute:
my_circle1's radius: 50
my_circle2's radius: 100
my_circle3's radius: 150

In [9]:
class BankAccount:

    def __init__(self, balance):
        self.balance = balance

    def make_deposit(self, amount):
        self.balance += amount

    def make_withdrawal(self, amount):
        if self.balance < amount:
            print("Error: Not enough funds")
        else:
            print("Successfully withdrawn $", amount, sep="")
            self.balance -= amount

    def get_balance(self):
        return self.balance


my_account = BankAccount(5000)   # Create my bank account with $5000
print("Current Balance: $", my_account.get_balance(), sep="")

print("Withdrawing $10000 ...")
my_account.make_withdrawal(10000)

print("Lets try withdrawing $1000 ...")
my_account.make_withdrawal(1000)

print("Now Current Balance: $", my_account.get_balance(), sep="")

print("Depositing $2000 ...")
my_account.make_deposit(2000)
print("Now Current Balance: $", my_account.get_balance(), sep="")

Current Balance: $5000
Withdrawing $10000 ...
Error: Not enough funds
Lets try withdrawing $1000 ...
Successfully withdrawn $1000
Now Current Balance: $4000
Depositing $2000 ...
Now Current Balance: $6000

In [10]:
class BankAccount:

    def __init__(self, balance):
        self.balance = balance

    def make_deposit(self, amount):
        self.balance += amount
		
    def make_withdrawal(self, amount):
        if self.balance < amount:
            print("Error: Not enough funds")
        else:
            print("Successfully withdrawn $", amount, sep="")
            self.balance -= amount

    def get_balance(self):
        return self.balance


my_account = BankAccount(5000) # Initially account is created with $2000 balance
print("Balance before change:", my_account.balance)
my_account.balance = 0  # well now your balance is 0
print("Balance after change:", my_account.balance)

Balance before change: 5000
Balance after change: 0

In [11]:
import math

class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius ** 2  

    def get_perimeter(self):
        return 2 * math.pi * self.radius
	

my_circle = Circle(4)
print("Radius before change: ", my_circle.radius)
my_circle.radius = "www"
print("Radius after change: ", my_circle.radius)

Radius before change:  4
Radius after change:  www

In [12]:
import math

class Circle:

    def __init__(self, radius):
        self.__radius = radius  #

    def get_area(self):
        return math.pi * self.__radius ** 2

    def get_perimeter(self):
        return 2 * math.pi * self.__radius

    # getter method for radius attribute

    def get_radius(self):
        return self.__radius

    # setter method for radius attribute

    def set_radius(self, radius):
        if not isinstance(radius, int):
            print("Error: ", radius, "is not an int")
            return
        self.__radius = radius

c = Circle(6)

# print(c.__radius)

c.get_radius()  # get the initial value of __radius attribute

# c.set_radius("a radius")  # trying to set invalid value

print(c.get_radius())  # value of __radius attribute is still same

print(c.set_radius(10)) # this time operation succeeds
print(c.get_radius())  #  get the new value of __radius attribute

6
None
10

In [14]:
import math

class Circle:

    def __init__(self, radius):
        self.__radius = radius  #

    def get_area(self):
        return math.pi * self.__radius ** 2

    def get_perimeter(self):
        return 2 * math.pi * self.__radius

    # getter method for radius attribute

    def get_radius(self):
        return self.__radius

    # setter method for radius attribute

    def set_radius(self, radius):
        if not isinstance(radius, int):
            print("Error: ", radius, "is not an int")
            return
        self.__radius = radius


c1 = Circle(5.4)
c2 = Circle(10.5)

def print_circle_info(circle_obj):
    print("#########################")
    print("Radius of circle", format(circle_obj.get_radius(), "0.2f"))
    print("Perimeter of circle", format(circle_obj.get_perimeter(), "0.2f"))
    print("Area of circle", format(circle_obj.get_area(), "0.2f"))
    print("#########################", end="\n\n")


print_circle_info(c1) # passing circle object c1 to print_circle_info()
print_circle_info(c2) # passing circle object c2 to print_circle_info()

#########################
Radius of circle 5.40
Perimeter of circle 33.93
Area of circle 91.61
#########################

#########################
Radius of circle 10.50
Perimeter of circle 65.97
Area of circle 346.36
#########################

In [15]:
# Inheritance and Polymorphism in Python

In [16]:
class Rectangle:
    def __init__(self, color, filled, width, length):
        self.__color = color
        self.__filled = filled
        self.__width = width
        self.__length = length

    def get_color(self):
        return self.__color

    def set_color(self, color):
        self.__color = color

    def is_filled(self):
        return self.__filled

    def set_filled(self, filled):
        self.__filled = filled

    def get_area(self):
        return self.__width * self.__length

class Circle:
    def __init__(self, color, filled, radius):
        self.__color = color
        self.__filled = filled
        self.__radius = radius      

    def get_color(self):
        return self.__color

    def set_color(self, color):
        self.__color = color

    def is_filled(self):
        return self.__filled

    def set_filled(self, filled):
        self.__filled = filled

    def get_area(self):
        return math.pi * self.__radius ** 2

r1 = Rectangle("green", True, 5, 10)
print(r1.get_color(), r1.is_filled())

c1 = Circle("whilte", False, 5)
print(c1.get_color(), c1.is_filled())

green True
whilte False

In [17]:
import math

class Shape:

    def __init__(self, color='black', filled=False):
        self.__color = color
        self.__filled = filled

    def get_color(self):
        return self.__color

    def set_color(self, color):
        self.__color = color

    def get_filled(self):
        return self.__filled

    def set_filled(self, filled):
        self.__filled = filled


class Rectangle(Shape):

    def __init__(self, length, breadth):
        super().__init__()
        self.__length = length
        self.__breadth = breadth

    def get_length(self):
        return self.__length

    def set_length(self, length):
        self.__length = length

    def get_breadth(self):
        return self.__breadth

    def set_breadth(self, breadth):
        self.__breadth = breadth

    def get_area(self):
        return self.__length * self.__breadth

    def get_perimeter(self):
        return 2 * (self.__length + self.__breadth)


class Circle(Shape):
    def __init__(self, radius):
        super().__init__()
        self.__radius = radius

    def get_radius(self):
        return self.__radius

    def set_radius(self, radius):
        self.__radius = radius

    def get_area(self):
        return math.pi * self.__radius ** 2

    def get_perimeter(self):
        return 2 * math.pi * self.__radius


r1 = Rectangle(10.5, 2.5)

print("Area of rectangle r1:", r1.get_area())
print("Perimeter of rectangle r1:", r1.get_perimeter())
print("Color of rectangle r1:", r1.get_color())
print("Is rectangle r1 filled ? ", r1.get_filled())
r1.set_filled(True)
print("Is rectangle r1 filled ? ", r1.get_filled())
r1.set_color("orange")
print("Color of rectangle r1:", r1.get_color())

c1 = Circle(12)

print("\nArea of circle c1:", format(c1.get_area(), "0.2f"))
print("Perimeter of circle c1:", format(c1.get_perimeter(), "0.2f"))
print("Color of circle c1:", c1.get_color())
print("Is circle c1 filled ? ", c1.get_filled())
c1.set_filled(True)
print("Is circle c1 filled ? ", c1.get_filled())
c1.set_color("blue")
print("Color of circle c1:", c1.get_color())

Area of rectangle r1: 26.25
Perimeter of rectangle r1: 26.0
Color of rectangle r1: black
Is rectangle r1 filled ?  False
Is rectangle r1 filled ?  True
Color of rectangle r1: orange

Area of circle c1: 452.39
Perimeter of circle c1: 75.40
Color of circle c1: black
Is circle c1 filled ?  False
Is circle c1 filled ?  True
Color of circle c1: blue

In [18]:
class A:
    def explore(self):
        print("explore() method called")

class B:
    def search(self):
        print("search() method called")

class C:
    def discover(self):
        print("discover() method called")

class D(A, B, C):
    def test(self):
        print("test() method called")


d_obj = D()
d_obj.explore()
d_obj.search()
d_obj.discover()
d_obj.test()

explore() method called
search() method called
discover() method called
test() method called

In [19]:
class A:
    def explore(self):
        print("explore() method from class A")

class B(A):
    def explore(self):
        print("explore() method from class B")


b_obj = B()
a_obj = A()

b_obj.explore()
a_obj.explore()

explore() method from class B
explore() method from class A

In [20]:
class A:
    def explore(self):
        print("explore() method from class A")

class B(A):
    def explore(self):
        super().explore()  # calling the parent class explore() method
        print("explore() method from class B")


b_obj = B()
b_obj.explore()

explore() method from class A
explore() method from class B

In [21]:
class Jester:
    def laugh(self):
        return print("laugh() called")

obj = Jester()
print(obj)

<__main__.Jester object at 0x0000012E8DB130D0>

In [22]:
class Jester:
    def laugh(self):
        return "laugh() called"

    def __str__(self):
        return "A more helpful description"

obj = Jester()
print(obj)

A more helpful description

In [23]:
# Operator Overloading in Python

In [24]:
print(10 + 400)

print("ten" + "sor")

410
tensor

In [25]:
x, y = 10, 20

print(x + y)

print(x.__add__(y))   # same as x + y

x, y = [11, 22], [1000, 2000]

print(x.__add__(y))  # same as x + y

30
30
[11, 22, 1000, 2000]

In [26]:
# Operator    	# Special Method   # Description
# +	   __add__(self, object)     	Addition
# -	   __sub__(self, object)	       Subtraction
# *	   __mul__(self, object)	       Multiplication
# **	   __pow__(self, object)	       Exponentiation
# /	   __truediv__(self, object)    	Division
# //	   __floordiv__(self, object)	   Integer Division
# %	   __mod__(self, object)	      Modulus
# ==	   __eq__(self, object)	      Equal to
# !=	   __ne__(self, object)	      Not equal to
# >	   __gt__(self, object)	      Greater than
# >=	   __ge__(self, object)	      Greater than or equal to
# <	   __lt__(self, object)	      Less than
# <=	    __le__(self, object)	      Less than or equal to
# in	    __contains__(self, value)  	  Membership operator
# [index] 	__getitem__(self, index)	Item at index
# len()   	__len__(self)	           Calculate number of items
# str()	   __str__(self)	            Convert object to a string

In [27]:
x, y = 2, 4

print("x = ", x, ", y =", y)

print("\nx + y =", x + y)
print("x.__add__(y) =", x.__add__(y))  # same as x + y

print("\nx * y = ", x * y)
print("x.__mul__(y) = ", x.__mul__(y))  # same as x * y

print("\nx / y = ", x / y)
print("x.__truediv__(y) = ", x.__truediv__(y))  # same as x / y

print("\nx ** y = ", x ** y)
print("x.__pow__(y) = ", x.__pow__(y))  # same as x ** y

print("\nx % y = ", x % y)
print("x.__mod__(y) = ", x.__mod__(y))  # same as x % y

print("\nx == y = ", x == y)
print("x.__eq__(y) = ", x.__eq__(y))  # same as x == y

print("\nx != y = ", x != y)
print("x.__ne__(y) = ", x.__ne__(y))  # same as x != y

print("\nx >= y = ", x >= y)
print("x.__ge__(y) = ", x.__ge__(y))  # same as x >= y

print("\nx <= y = ", x <= y)
print("x.__le__(y) = ", x.__le__(y))  # same as x <= y
print("------------------------------------------")

str1 = "special methods"

print("\nstr1 =", str1)

print("\n'ods' in str1 =", "ods" in str1)
print("str1.__contains__('ods') =", str1.__contains__("ods")) # same as "ods" in str1

print("\nlen(str1) =", len(str1))
print("str1.__len__() =", str1.__len__()) # same as len(str1)
print("------------------------------------------")

list1 = [11,33, 55]

print("\nlist1 =", list1)

print("\nlist1[1] =", list1[1])
print("list1.__getitem(1) =", list1.__getitem__(1)) # same as list1[1]
print("str(list1) =",str(list1))  # same as list1.__str__()

x =  2 , y = 4

x + y = 6
x.__add__(y) = 6

x * y =  8
x.__mul__(y) =  8

x / y =  0.5
x.__truediv__(y) =  0.5

x ** y =  16
x.__pow__(y) =  16

x % y =  2
x.__mod__(y) =  2

x == y =  False
x.__eq__(y) =  False

x != y =  True
x.__ne__(y) =  True

x >= y =  False
x.__ge__(y) =  False

x <= y =  True
x.__le__(y) =  True
------------------------------------------

str1 = special methods

'ods' in str1 = True
str1.__contains__('ods') = True

len(str1) = 15
str1.__len__() = 15
------------------------------------------

list1 = [11, 33, 55]

list1[1] = 33
list1.__getitem(1) = 33
str(list1) = [11, 33, 55]

In [28]:
import math

class Point:

    def __init__(self, x=0, y=0):
        self.__x = x
        self.__y = y   

    # get the x coordinate
    def get_x(self):
        return self.__x

    # set the x coordinate
    def set_x(self, x):
        self.__x = x

    # get the y coordinate
    def get_y(self):
        return self.__y

    # set the y coordinate
    def set_y(self, y):
        self.__y = y

    # get the current position
    def get_position(self):
        return self.__x, self.__y

    # change x and y coordinate by a and b
    def move(self, a, b):
        self.__x += a
        self.__y += b

    # overloading + operator
    def __add__(self, point_obj):
        return Point(self.__x + point_obj.__x, self.__y + point_obj.__y)

    # overloading - operator
    def __sub__(self, point_obj):
        return Point(self.__x - point_obj.__x, self.__y - point_obj.__y)

    # overloading < operator
    def __lt__(self, point_obj):
        return math.sqrt(self.__x ** 2 + self.__y ** 2) < math.sqrt(point_obj.__x ** 2 + point_obj.__y ** 2)

    # overloading <= operator
    def __le__(self, point_obj):
        return math.sqrt(self.__x ** 2 + self.__y ** 2) <= math.sqrt(point_obj.__x ** 2 + point_obj.__y ** 2)

    # overloading > operator
    def __gt__(self, point_obj):
        return math.sqrt(self.__x ** 2 + self.__y ** 2) > math.sqrt(point_obj.__x ** 2 + point_obj.__y ** 2)

    # overloading >= operator
    def __ge__(self, point_obj):
        return math.sqrt(self.__x ** 2 + self.__y ** 2) >= math.sqrt(point_obj.__x ** 2 + point_obj.__y ** 2)

    # overloading == operator
    def __eq__(self, point_obj):
        return math.sqrt(self.__x ** 2 + self.__y ** 2) == math.sqrt(point_obj.__x ** 2 + point_obj.__y ** 2)

    ## overriding __str__ function
    def __str__(self):
        return "Point object is at: (" + str(self.__x) + ", " + str(self.__y) + ")"


p1 = Point(4, 6)
p2 = Point(10, 6)

print("Is p1 < p2 ?", p1 < p2)   # p1 < p2 is equivalent to p1.__lt__(p2)
print("Is p1 <= p2 ?", p1 <= p2)  # p1 <= p2 is equivalent to p1.__le__(p2)
print("Is p1 > p2 ?", p1 > p2)   # p1 > p2 is equivalent to p1.__gt__(p2)
print("Is p1 >= p2 ?", p1 >= p2)   # p1 >= p2 is equivalent to p1.__ge__(p2)
print("Is p1 == p2 ?", p1 == p2)   # p1 < p2 is equivalent to p1.__eq__(p2)

p3 = p1 + p2  # p1 + p2 is equivalent to p1.__add__(p2)
p4 = p1 - p2  # p1 - p2 is equivalent to p1.__sub__(p2)

print()  # print an empty line
print(p1)  # print(p1) is equivalent to print(p1.__str__())
print(p2)  # print(p2) is equivalent to print(p2.__str__())
print(p3)  # print(p3) is equivalent to print(p3.__str__())
print(p4)  # print(p4) is equivalent to print(p4.__str__())

Is p1 < p2 ? True
Is p1 <= p2 ? True
Is p1 > p2 ? False
Is p1 >= p2 ? False
Is p1 == p2 ? False

Point object is at: (4, 6)
Point object is at: (10, 6)
Point object is at: (14, 12)
Point object is at: (-6, 0)

In [29]:
# File Handling in Python

In [31]:
# Method	     Description
# read([num])	Reads the specified number of characters from the file and returns them as string. If num is omitted then it reads the entire file.
# readline()	Reads a single line and returns it as a string.
# readlines()	Reads the content of a file line by line and returns them as a list of strings.
# write(str)	Writes the string argument to the file and returns the number of characters written to the file.
# seek(offset, origin)	Moves the file pointer to the given offset from the origin.
# tell()	    Returns the current position of the file pointer.
# close()	Closes the file

In [32]:
# Exception Handling in Python

In [35]:
## Error outputs
# print(2/0) 

# print(10 + "12")

# list1 = [11, 3, 99, 15]
# print(list1[10])

# f = open("filedoesntexists.txt", "r")

In [39]:
try:
    num =  int(input("Enter a number: \n"))
    result = 10/num
    print("Result: ", result)    

except ZeroDivisionError:
    print("Exception Handler for ZeroDivisionError")
    print("We cant divide a number by 0")

Enter a number:
 1

Result:  10.0

In [3]:
try:
    num1 = int(input("Enter a num1: \n"))
    num2 = int(input("Enter a num2: \n"))

    result = num1 / num2
    print("Result: ", result)

except ZeroDivisionError:
    print("\nException Handler for ZeroDivisionError")
    print("We cant divide a number by 0")

except ValueError:
    print("\nException Handler for ValueError")
    print("Invalid input: Only integers are allowed")

except:
    print("\nSome unexpected error occurred")

Enter a num1:
 98
Enter a num2:
 1

Result:  98.0

In [4]:
filename = input("Enter file name: \n")

try:
    f = open(filename, "r")

    for line in f:
        print(line, end="")

    f.close()

except FileNotFoundError:
    print("File not found")

except PermissionError:
    print("You don't have the permission to read the file")

except:
    print("Unexpected error while reading the file")

Enter file name:
 something

File not found

In [5]:
import os
filename = input("Enter file name: \n")

try:
    f = open(filename, "r")

    for line in f:
        print(line, end="")

    f.close()

except FileNotFoundError:
    print("File not found")

except PermissionError:
    print("You don't have the permission to read the file")

except FileExistsError:
    print("You don't have the permission to read the file")

except:
    print("Unexpected error while reading the file")

else:
    print("Program ran without any problem")

Enter file name:
 something

File not found

In [6]:
import os
filename = input("Enter file name: \n")

try:
    f = open(filename, "r")

    for line in f:
        print(line, end="")

    f.close()

except FileNotFoundError:
    print("File not found")

except PermissionError:
    print("You don't have the permission to read the file")

except FileExistsError:
    print("You don't have the permission to read the file")

except:
    print("Unexpected error while reading the file")

else:
    print("\nProgram ran without any problem")

finally:
    print("finally clause: This will always execute")

Enter file name:
 python

File not found
finally clause: This will always execute

In [9]:
def factorial(n):
    if  not isinstance(n, int):
        raise RuntimeError("Argument must be int")

    if n < 0:
        raise RuntimeError("Argument must be >= 0")

    f = 1
    for i in range(n):
        f *= n
        n -= 1

    return f

try:
    print("Factorial of 4 is:", factorial(4))
    print("Factorial of 12 is:", factorial("12"))
except RuntimeError:
    print("Invalid Input")

Factorial of 4 is: 24
Invalid Input

In [10]:
def factorial(n):

    try:
        if not isinstance(n, int):
            raise RuntimeError("Argument must be int")

        if n < 0:
            raise RuntimeError("Argument must be >= 0")

        f = 1
        for i in range(n):
            f *= n
            n -= 1

        return f

    except RuntimeError:
        return  "Invalid Input"

print("Factorial of 4 is:", factorial(4))
print("Factorial of 12 is:", factorial("12"))

Factorial of 4 is: 24
Factorial of 12 is: Invalid Input

In [11]:
def factorial(n):
    if not isinstance(n, int):
        raise RuntimeError("Argument must be int")

    if n < 0:
        raise RuntimeError("Argument must be >= 0")

    f = 1
    for i in range(n):
        f *= n
        n -= 1

    return f


try:
    print("Factorial of 4 is:", factorial(4))
    print("Factorial of 12 is:", factorial("12"))

except RuntimeError as e:
    print("Error:", e)

Factorial of 4 is: 24
Error: Argument must be int

In [12]:
class InvalidFactorialArgumentException(Exception):
    def __init__(self, message):
        super().__init__()
        self.message = message

    def __str__(self):
        return self.message


def factorial(n):
    if not isinstance(n, int):
        raise InvalidFactorialArgumentException("Argument must be int")

    if n < 0:
        raise InvalidFactorialArgumentException("Argument must be >= 0")

    f = 1
    for i in range(n):
        f *= n
        n -= 1

    return f


try:
    print("Factorial of 4 is:", factorial(4))
    print("Factorial of 12 is:", factorial("12"))

except InvalidFactorialArgumentException as e:
    print("Error:", e)

Factorial of 4 is: 24
Error: Argument must be int

In [14]:
# Tuples in python

In [15]:
t = ("alpha", "delta", "omega")

print(t)
print(type(t))

('alpha', 'delta', 'omega')
<class 'tuple'>

In [16]:
et = ()    # an empty tuple

print(et)
print(type(et))

()
<class 'tuple'>

In [17]:
t1 = tuple("abcd")         # tuple from string
print(t1)

t2 = tuple(range(1, 10))   # tuple from range
print(t2)

t3 = tuple([1,2,3,4])      # tuple from list
print(t3)

('a', 'b', 'c', 'd')
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4)

In [18]:
tlc = tuple([x * 2 for x in range(1, 10)])

print(tlc)

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [19]:
t1 = (1,)   # this is a tuple
print(type(t1))

t2 = (1)   # this is not 
print(type(t2))

<class 'tuple'>
<class 'int'>

In [20]:
t1 = "alpha", "delta", "omega"    	 # t1 is a tuple of three elements
print(t1)
print(type(t1))

t2 = 1, 'one', 2, 'two', 3, 'three'  # t2 is a tuple of six elements
print(t2)

('alpha', 'delta', 'omega')
<class 'tuple'>
(1, 'one', 2, 'two', 3, 'three')

In [21]:
t1 = 1,
print(t1)
print(type(t1))

t2 = 1
print(t2)

(1,)
<class 'tuple'>
1

In [22]:
first, second, third = ("alpha", "beta", "gamma")

print(first)
print(second)
print(third)

alpha
beta
gamma

In [24]:
tuple_a = ("alpha", "beta", "gamma")
print("tuple_a:", tuple_a)
print("Length of tuple_a:", len(tuple_a))  # len() function on tuple

tuple_b = tuple(range(1,20, 2)) # i.e tuple_b = (1, 3, 5, 7, 9, 11, 13, 15, 17, 19)
print("\ntuple_b:", tuple_b)
print("Highest value in tuple_b:", max(tuple_b))   # max() function on tuple
print("Lowest value in tuple_b:",min(tuple_b))   # min() function on tuple
print("Sum of elements in tuple_b:",sum(tuple_b))   # sum() function on tuple

print("\nIndex operator ([]) and Slicing operator ([:]) : ")
print("tuple_a[1]:", tuple_a[1])
print("tuple_b[len(tuple_b)-1]:", tuple_b[len(tuple_b)-1])
print("tuple_a[1:]:", tuple_a[1:])

print("\nMembership operators with tuples: ")
print("'kappa' in tuple_a: ",'kappa' in tuple_a)
print("'kappa' not in tuple_b: ",'kappa' not in tuple_b)

print("\nIterating though elements using for loop")
print("tuple_a: ", end="")
for i in tuple_a:
    print(i, end=" ")

print("\ntuple_b: ", end="")
for i in tuple_b:
    print(i, end=" ")


print("\n\nComparing tuples: ")
print("tuple_a == tuple_b:", tuple_a == tuple_b)
print("tuple_a != tuple_b:", tuple_a != tuple_b)

print("\nMultiplication and addition operators on tuples: ")
print("tuple * 2:", tuple_a * 2)
print("tuple_b + (10000, 20000): ", tuple_b + (10000, 20000))

tuple_a: ('alpha', 'beta', 'gamma')
Length of tuple_a: 3

tuple_b: (1, 3, 5, 7, 9, 11, 13, 15, 17, 19)
Highest value in tuple_b: 19
Lowest value in tuple_b: 1
Sum of elements in tuple_b: 100

Index operator ([]) and Slicing operator ([:]) :
tuple_a[1]: beta
tuple_b[len(tuple_b)-1]: 19
tuple_a[1:]: ('beta', 'gamma')

Membership operators with tuples:
'kappa' in tuple_a:  False
'kappa' not in tuple_b:  True

Iterating though elements using for loop
tuple_a: alpha beta gamma
tuple_b: 1 3 5 7 9 11 13 15 17 19

Comparing tuples:
tuple_a == tuple_b: False
tuple_a != tuple_b: True

Multiplication and addition operators on tuples:
tuple * 2: ('alpha', 'beta', 'gamma', 'alpha', 'beta', 'gamma')
tuple_b + (10000, 20000):  (1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 10000, 20000)

In [25]:
# Sets in python

In [26]:
s1 = {3, 31, 12, 1}    # creating a set s1

print(type(s1))
print(s1)              

s2 = {'one', 1, 'alpha', 3.14}    # creating a set s2
print(s2)

<class 'set'>
{1, 3, 12, 31}
{1, 'alpha', 3.14, 'one'}

In [28]:
s3 = set({77, 23, 91, 271})
print(s3)

s4 = set("123abc")   # creating set from a string
print(s4)

s5 = set(['one', 'two', 'nine', 33, 13])   # creating set from a list
print(s5)

s6 = set(("alpha", "beta", "gamma"))   # creating set from a tuple
print(s6)

{91, 23, 77, 271}
{'2', 'a', '1', 'b', '3', 'c'}
{33, 'one', 13, 'two', 'nine'}
{'beta', 'alpha', 'gamma'}

In [29]:
s7 = set([x*2+3 for x in range(0, 5)])
print(s7)

{3, 5, 7, 9, 11}

In [30]:
sd1 = {1, 2, "one", 3, 1, "one"} # two duplicate elements 1 and "one"
print(sd1)

sd2 = set("abcdabc") # three duplicate elements a, b and c
print(sd2)

{1, 2, 3, 'one'}
{'d', 'b', 'a', 'c'}

In [31]:
colors = {"blue", "orange", "green"}
print(len(colors))

3

In [32]:
s1 = {33,11,88,55}

print(s1)

print(max(s1))  # get the largest element from the set
print(min(s1))  # get the smallest element from the set
print(sum(s1))  # get the sum of all the elements in a set

{88, 33, 11, 55}
88
11
187

In [33]:
s1 = {4, 1, 9, 6}
print(s1)            # print the original set
print(id(s1))        # address of s1

s1.add(0)   	     # add 0 to the set
s1.add(10)  	     # add 10 to the set

print(s1)            # print the modified set
print(id(s1))        # as sets are mutable objects, the address of s1 remains the same

s1.remove(0)   	     # remove 0 from the set
s1.remove(6)   	     # remove 6 from the set

print(s1)    	     # print s1 again

{1, 4, 9, 6}
1763479196544
{0, 1, 4, 6, 9, 10}
1763479196544
{1, 4, 9, 10}

In [34]:
s1 = {4, 1, 9, 6}
s1.discard(61)   # remove 61 from the set
print(s1)

{1, 4, 9, 6}

In [35]:
s1 = {1, 4, 9, 10}

s1.update([33, 44])
print(s1)

s1.update(('a', 'b'))

print(s1)

{1, 33, 4, 9, 10, 44}
{1, 33, 4, 'a', 9, 10, 44, 'b'}

In [36]:
s1 = {1, 4, 9, 10}
print(s1)
s1.clear()
print(s1)

{1, 10, 4, 9}
set()

In [37]:
a_set = {99, 33, 44, 124, 25}

for i in a_set:
    print(i, end=" ")

124 33 99 25 44

In [38]:
a_set = {99, 33, 44, 124, 25}

print(100 in a_set)

print(200 not in a_set)

False
True

In [39]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
B = {1, 2, 3}

print(A.issubset(B))    #  Is A subset of set B?

print(B.issubset(A))    #  Is B subset of set A?

print(B.issuperset(A))  #  Is B superset of set A?

print(A.issuperset(B))  #  Is A subset of set B?

False
True
False
True

In [40]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
B = {1, 2, 3}

print(B < A)    # Is B subset of A?

print(A < B)    # Is A subset of B?  

print(B > A)    # Is B superset of A?

print(A > B)    # Is A superset of B?

True
False
False
True

In [41]:
s1 = {1,3,2}
s2 = {1,2,3}

print(s1 == s2)       # Is set s1 and s2 equal ?

print(s1 != s2)       # Isn't set s1 and s2 equal ?

print(B >= {1,2,3})   # Is B superset or equal to {1,2,3}  ?

print(A <= {1, 2})    # Is A subset or equal to {1,2} ?

True
False
True
False

In [42]:
n1 = {2, 3, 4, 10}
n2 = {10, 2, 100, 2000}

n3 = n1.union(n2)

print(n3)

n4 = n1 | n2

print(n4)

{2, 3, 4, 100, 10, 2000}
{2, 3, 4, 100, 10, 2000}

In [43]:
s1 = {20, 40}
s2 = {10, 20, 30, 40, 50}

s3 = s1.intersection(s2)
print(s3)

s4 = s1 & s2
print(s4)

{40, 20}
{40, 20}

In [44]:
s1 = {'a', 'e','i', 'o', 'u'}
s2 = {'e', 'o'}

s3 = s1.difference(s2)
print(s3)

s4 = s1 - s2
print(s4)

{'i', 'a', 'u'}
{'i', 'a', 'u'}

In [45]:
s1 = {'a', 'e','i', 'o', 'u'}
s2 = {'e', 'o'}

s3 = s1 ^ s2
print(s3)

s4 = s2 ^ s1
print(s4)

{'i', 'a', 'u'}
{'i', 'a', 'u'}

In [47]:
# Dictionary in python

In [46]:
contacts = {
     "tom": "122-444-333",
     "jim": "412-1231-121",
     "ron": "8912-121-1212",
     "jake": "333-1881-121"
}

print(contacts)

{'tom': '122-444-333', 'jim': '412-1231-121', 'ron': '8912-121-1212', 'jake': '333-1881-121'}

In [48]:
empty_dict = {}
print(empty_dict)

{}

In [49]:
dict_contacts = dict(
    tom = "122-444-333",
    jim = "412-1231-121",
    ron = "8912-121-1212",
    jake = "333-1881-121"
)

print(dict_contacts)

{'tom': '122-444-333', 'jim': '412-1231-121', 'ron': '8912-121-1212', 'jake': '333-1881-121'}

In [50]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


print(contacts['ron'])

print(contacts['tom'])

8912-121-1212
122-444-333

In [51]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}

contacts['jane'] = '443-123-991'  # adding new element

print(contacts['jane'])

443-123-991

In [52]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}

contacts['jane'] = '443-123-991'  # adding new element

contacts['jane'] = '443-123-000'  # update Jane's number

print(contacts['jane'])

443-123-000

In [53]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}

del contacts['ron']

print(contacts)

{'tom': '122-444-333', 'jim': '412-1231-121', 'jake': '333-1881-121'}

In [54]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


print(len(contacts))

4

In [55]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


for key in contacts:
    print(key, end=" ")

tom jim ron jake

In [56]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


print("jane" in contacts)     # Does key 'jane' exists in contacts?

print("ron" in contacts)      # Does key 'ron' exists in contacts?

print("tom" not in contacts)   # Doesn't key 'tom' exists in contacts

False
True
False

In [57]:
marks1 = { 'larry': 90, 'bill': 60}
marks2 = { 'bill': 60, 'larry': 90}

print(marks1 ==  marks2 )

print(marks1 !=  marks2)

True
False

In [58]:
# Method	## Description
# keys()	 Returns a sequence containing only the keys from the dictionary.
# values()	 Returns a sequence containing only the values from the dictionary.
# items()	 Returns a sequence of tuples, where each tuple contains a key and value of an element.
# get(key,   [default])	Returns the value associated with the key. If the key is not found it returns None. We can also provide a optional default value as the second argument in which case if the key is not found, default value will be returned instead of None.
# pop(key)	 Returns the value associated with the key then removes the specified key and it's corresponding value from the dictionary. If key doesn't exists KeyError exception is raised.
# popitem()	 Removes and return a random element from the dictionary as a tuple.
# copy()	 Creates a new copy of the dictionary.
# clear()	 Removes all the elements from the dictionary.

In [59]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


print(contacts.keys())

print(type(contacts.keys()))

dict_keys(['tom', 'jim', 'ron', 'jake'])
<class 'dict_keys'>

In [60]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


print(list(contacts.keys()))

print(tuple(contacts.keys()))

['tom', 'jim', 'ron', 'jake']
('tom', 'jim', 'ron', 'jake')

In [61]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}
 

print(contacts.values())

print(type(contacts.values()))

print(list(contacts.values()))

print(tuple(contacts.values()))

dict_values(['122-444-333', '412-1231-121', '8912-121-1212', '333-1881-121'])
<class 'dict_values'>
['122-444-333', '412-1231-121', '8912-121-1212', '333-1881-121']
('122-444-333', '412-1231-121', '8912-121-1212', '333-1881-121')

In [62]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


print(contacts.items())

print(type(contacts.items()))

dict_items([('tom', '122-444-333'), ('jim', '412-1231-121'), ('ron', '8912-121-1212'), ('jake', '333-1881-121')])
<class 'dict_items'>

In [64]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


print(contacts.get('jake'))   

print(contacts.get('paul'))

print(contacts.get('paul', "Not found"))

333-1881-121
None
Not found

In [65]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}



print(contacts.popitem())

print(contacts)

('jake', '333-1881-121')
{'tom': '122-444-333', 'jim': '412-1231-121', 'ron': '8912-121-1212'}

In [66]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


print(id(contacts))  # address of contacts dictionary

copy_contacts = contacts.copy()  # create a copy of the contacts dictionary

print(copy_contacts)

print(id(copy_contacts))   # address of copy_contacts dictionary

1763492566144
{'tom': '122-444-333', 'jim': '412-1231-121', 'ron': '8912-121-1212', 'jake': '333-1881-121'}
1763492565248

In [67]:
contacts = {
  "tom": "122-444-333",
  "jim": "412-1231-121",
  "ron": "8912-121-1212",
  "jake": "333-1881-121"
}


copy_contacts = contacts.copy()

contacts.clear()  # delete all the elements of a dictionary

print(contacts)

{}